.container {
    padding: 0 2rem;
}

.main {
    padding: 4rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.subcategory {
    color: #9b9b9b;
    font-weight: normal;
}

.top {
    display: flex;
    justify-content: space-between;
}

.sort {
    display: flex;
    align-items: center;
}

.select {
    display: flex;
    margin-left: 10px;
    border: none;
    font-size: 1.2rem;
}
